<div class="dashboard">
  <div class="dash-header" style="display: inline-flex">
    <div class="avtaar"><mat-icon class="icons">
        group
    </mat-icon>
    </div>
   <span> <b>500 </b> Total Users</span>
   <div class="avtaar"><mat-icon class="icons">
    group
</mat-icon>
</div>
<span> <b>360 </b> Total Users</span>
<div class="content" style="width: 195px;">
  <button class="mat-button" fxflex="150px" style="max-height:28px;border-radius:45px;background-color: rgb(240, 240, 240); color: rgb(93, 93, 93); flex: 1 1 150px; box-sizing: border-box; margin-right: 10px; max-width: 150px; min-width: 150px;">
    
      <span style="font-family: PT Sans;">Create Task</span>
  </button>
</div>

  </div>

</div>